:root {
  --bg: #171717;
  --primary: #212121;
  --textColor: #fff;
  --secondary: #87ae72;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 1.6rem;
  background: var(--bg);
  color: var(--textColor);
}

.container {
  margin: auto;
  width: 80vw;
}

a {
  text-decoration: none;
  color: var(--textColor);
  cursor: pointer;
}

li {
  list-style: none;
}
